@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome MVCCore</h1>
    <div>path: E:\Projects\MVCCore\MVCCore</div>
    <div>Core 8.0 with docker</div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
